.app-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: 800px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
}

.landing {
    position: relative;
    left: 15px;
    z-index: 1;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 35px;
}

.top-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.date {
    font-size: 13px;
}

.user-profile-img {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    color: white;
}

.user-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 22px;
    font-weight: 600;
    margin-left: 7px;
}

.tasks-completion {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    background-color: var(--secondary-color);
    width: 280px;
    height: 120px;
    border-radius: 15px;
    gap: 35px;
}

.task-msg {
    font-size: 12px;
    color: white;
    width: 105px;
}

.task-rate {
    width: 89px;
}

.tasks {
    position: absolute;
    top: 189px;
}

.task-management {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.task-groups {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 600;
}

.new-task {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 106px;
    white-space: nowrap;
    gap: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
}

.new-task:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.new-task-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
}

.new-task-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}