@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root{
  font-family: Poppins;
  --primary-color: #ecebf3;
  --secondary-color: #89c2d9;
  --primary-green: #96e072;
  --primary-yellow: #ffbe0b;
  --primary-red: #e63946;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}